
<div class="jumbotron color">
  <h1>Post. Vote. Build. Serve.</h1>
  <h2>Have a project impacting our community?</h2>
  <h2>Would you like to develop & apply your Engineering skills to help your community?</h2>
  <h2>Get involved with EPICS at Texas A&M University!</h2
</div>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
     <div class="col-md-3">
      <div class="thumbnail">
        <%=link_to image_tag(listing.image.url), listing %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p>Students Needed:<%= listing.price %></p>
          <p><%= "Proposed by #{listing.user.name}" %></p>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
